.product-offprice-ribbon {
    background-image: url(../imagenes/promocion.jpg);
    width: 65px;
    height: 64px;
    position: absolute;
    font-family: "oswald";
    margin-right: 15px;
    padding: 4px 7px;
    color: #FFF;
    text-align: center;
    line-height: 1.5;
    z-index:3;
}
.price {
    font-size: 15px;
    font-family: "dinbold", sans-serif;
    color: #d50000;
    margin: 0px;
}

.item-inner {
    position: relative;
    margin-bottom: 20px;
}
.box-total {
    width: 84px;
    position: absolute;
    right: 0px;
    font-family: "dinbold";
    margin-top: 15px;
    margin-right: 15px;
    z-index: 5;
}
.old-price {
    margin: 0px;
}
.price-label {
    display: none;
}
.old-price .price {
    font-size: 20px;
    font-family: "dinbold", sans-serif;
    color: #000;
    text-decoration: line-through;
}
.special-price {
    margin: 0px;
}
.combo-info {
    background-image: url(../imagenes/combo_info.png);
    width: 65px;
    height: 64px;
    position: absolute;
    font-family: "dinbold";
    margin-right: 15px;
    padding: 4px 7px;
    color: #FFF;
    text-align: center;
    line-height: 1.5;
    z-index:3;
}
#principal{
    background-image: url(../imagenes/header2.jpg);
    height:600px;
}

#alerta_combo {
    position: absolute;
    z-index: 1;
     margin-right: 15px;
    padding: 0px 0px;
    color: #FFF;
    text-align: center;
    line-height: 1.5;
}

.precio-viejo {
    font-size: 20px;
    font-family: "dinbold";
    color:  #000;
    text-decoration: line-through;
    position: relative;
    padding-top: 20%;
    padding-right: 5px;

}
.precio-promo {
    font-size: 23px;
    font-family: "dinbold", sans-serif;
    color:  red;
    position:relative;
    padding-top: 20%;
    padding-right: 5px;

}

.precio-sin-promo {
    font-size: 20px;
    font-family: "dinbold", sans-serif;
    color:  red;
    position:relative;
    padding-top: 20%;
    padding-right: 5px;
    z-index: 3;

}
.nombre-prod {   
     float:left; margin:10px 0 0 0; word-wrap: break-word; width:100%;
     overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.precio_unitario {
    font-size: 100%;
    color: #999;
    font-style: italic;
    line-height: normal;
}
#modal_info_producto {
  
}
* {
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: white;
        #info_prod {


        }
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}



html {
    font-family: 'dinbold';
    font-color: rgba(0,0,0,0.0);
    text-transform: uppercase;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: bold;
}
.card-content{
    background-color: white;
}